# Virtual Environment
venv/
env/
ENV/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Database
*.db
*.sqlite
*.sqlite3
instance/

# Environment Variables
.env

# Uploads
static/uploads/*
!static/uploads/posts/.gitkeep
!static/uploads/profiles/.gitkeep

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log